{% extends '_layouts/standard.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Application de gens toxics</h1>
    <a href="{{ path('app_login') }}">Se connecter</a>
    <a href="{{ path('register') }}">S'inscrire</a>
{% endblock %}
