{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello Tweets/ListController!{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_end(form) }}

    {% for tweet in tweets %}
                    <p>
                        {{ tweet.message }}
                    </p>
    {% endfor %}
{% endblock %}
