{# messages flashes #}
<div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% set alertClass = (label == 'error') ? 'danger' : label %}

            <div class="alert alert-{{ alertClass }}" role="alert">
                {% if alertClass == 'success' %} ✅
                {% elseif alertClass == 'danger' %} ⚠️
                {% else %}  {% endif %}

                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
