{% set current_route = app.current_route %}

<nav>
    <a href="{{ path('tweets_list') }}">Logo</a>
    <ul>
        <li>
            <a href="{{ path('user_show', {'username': app.user.username}) }}">Profil</a>
        </li>
        <li>
            <a>Ne pas cliquer (Messagerie)</a>
        </li>
        <li>
            <a href="{{ path('settings') }}">Options</a>
        </li>
        <li>
            <a>Dark Theme/Light Theme</a>
        </li>
        <li>
            <!-- <a href="">Se déconnecter</a> -->
        </li>
    </ul>
</nav>
