/* Pour éviter que le menu (fixed) ne cache le contenu */
.in-app-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    margin-left: 260px; /* La largeur de ton side-menu */
    flex: 1;
    padding: 2rem;
}
