{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello User/ShowController!{% endblock %}

{% block content %}

    <p>{{ app.user.username }}</p>
    <p>{{ app.user.email }}</p>
    <p>{{ app.user.bio }}</p>



{% endblock %}
